* {
  box-sizing: border-box;
}
.intro-page {
  background: #89898b;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo img {
  margin: auto;
  display: block;
  width: 89px;
  height: 88px;
  margin-bottom: 56px;
}
.welcome {
  text-align: center;
  margin-bottom: 52px;
}
.welcome span {
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.intro {
  text-align: center;
  margin-bottom: 114px;
}
.intro h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #ffe600;
}
.explore {
  text-align: center;
  margin-bottom: 76px;
}
.explore a {
  border: 1px solid #ffe600;
  text-decoration: none;
  color: #ffffff;
  padding: 23px 88px;
}
.arrow {
  width: 38px;
  height: 20px;
}
.secpage {
  width: 100%;
  height: 100vh;
}
.header {
  height: 120px;
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.wrapper-header {
  border-bottom: 1px solid #ffe600;
  margin-bottom: 121px;
}
.first-img {
  padding-top: 35px;
}
.second-img {
  padding-top: 21px;
}
.first-img img {
  width: 47px;
  height: 46px;
}
.second-img img {
}
.logo {
  display: flex;
}
.navig {
  overflow: hidden;
}
.navig ul {
  padding-top: 53px;
}
.navig ul li {
  float: left;
  margin-left: 40px;
}
.navig ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #8e8e8e;
}
.navig ul .border {
  color: #131316;
  border: 1px solid #ffe600;
  padding: 13px 24px;
}

.introduction {
  width: 1170px;
  margin: auto;
  margin-bottom: 148px;
}
.introduction h1 {
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}
.introduction .yellowside {
  display: block;
  text-align: center;
  color: #ffe600;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.propositions {
  display: flex;
  justify-content: space-evenly;
}
.propositions .number {
  color: #ffe600;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.propositions .text {
  color: #8e8e8e;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 260px;
}
.propositions h2 {
  color: #131316;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 58px;
}
.conteiner .text {
  display: flex;
}
.conteiner {
  position: relative;
}
.conteiner .number {
  margin-right: 29px;
}
.number::before {
  content: "";
  position: absolute;
  background: #ffe600;
  left: 40px;
  top: 0;
  width: 1px;
  height: 40px;
}
.third-page {
  width: 100%;
  height: 600px;
  background: #ffeb33;
  display: flex;
  align-items: center;
  margin-bottom: 121px;
}
.paragraph {
  margin: auto;
  width: 1170px;
  text-align: center;
  line-height: 40px;
  color: #131316;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.whitetext {
  display: block;
  margin: auto;
  width: 1170px;
  text-align: center;
  color: #fffef5;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.blacktext {
  margin-bottom: 25px;
}
.portfolio-intro {
  margin: auto;
  width: 1170px;
  text-align: center;
  margin-bottom: 120px;
}
.portfolio-intro h3 {
  color: #131316;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}
.portfolio-intro .yellowtext {
  color: #ffe82b;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.portfolio {
  margin: auto;
  width: 1170px;
  height: 936px;
}
.portfolio ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio ul li {
  margin-bottom: 29px;
  position: relative;
}
.portfolio ul img {
  display: block;
}
.portfolio ul span {
  display: flex;
  width: 100%;
  height: 100%;
  background: #ffeb33;
  position: absolute;
  top: 0;
  left: 0;
}
.textbl {
  color: #131316;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.textbk {
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.downtext {
  margin: auto;
  width: 1170px;
  text-align: center;
}
.downtext span {
  display: block;
  color: #ffeb58;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 29px;
}
.blackarrow {
  display: flex;
  justify-content: center;
}
.blackarrow img {
  width: 40px;
  height: 20px;
}
.fourth-page {
  background: #424245;
  height: 501px;
  width: 100%;
}
.intro-fourthpage {
  margin: auto;
  width: 1170px;
  text-align: center;
}
.clients {
  color: #ffffff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 34px;
  padding-top: 121px;
}
.sec-clients {
  color: #ffe600;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.pictures {
  display: flex;
  justify-content: space-around;
  padding-top: 138px;
  width: 1100px;
  margin: auto;
}
.pictures img {
  width: 100px;
  height: 28px;
}
.main {
  width: 970px;
  margin: auto;
  padding-top: 114px;
  margin-bottom: 86px;
}
.main h1 {
  color: #131316;
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.main span {
  color: #ffe600;
  text-align: center;
  font-size: 15px;
  padding-top: 33px;
  display: block;
  font-family: "Roboto", sans-serif;
}

.rows {
  width: 970px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow: hidden;
}
.checkbox-row {
  float: left;
  margin-bottom: 19px;
}
.radiobutton-row {
  float: right;
  margin-right: 128px;
}
.checkbox-example {
  float: left;
  margin-right: 54px;
}
.checkbox-checked {
  float: right;
}
.radiobutton-example {
  float: left;
}
.radiobutton-checked {
  float: right;
  margin-left: 54px;
}
.name-mail {
  width: 970px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.name-holder {
  float: left;
}
.mail-holder {
  float: right;
}
input[type="text"],
input[type="mail"] {
  width: 470px;
  height: 50px;
  background: #ffe600;
  border: none;
  font-family: "Roboto", sans-serif;
  padding-left: 23px;
}

input[type="text"]:focus-visible,
input[type="mail"]:focus-visible,
input[type="text1"]:focus-visible {
  outline: none;
}
input[type="text"]::placeholder,
input[type="mail"]::placeholder,
input[type="text1"]::placeholder {
  color: #ffffff;
}
.subject-holder {
  width: 970px;
  margin: auto;
  margin-bottom: 19px;
}
.subject-input {
  width: 100%;
  height: 50px;
  background: #ffe600;
  border: none;
  font-family: "Roboto", sans-serif;
  padding-left: 23px;
}
.message-holder {
  width: 970px;
  margin: auto;
  margin-bottom: 21px;
}
.textarea-message {
  width: 100%;
  height: 180px;
  padding-left: 23px;
  padding-top: 21px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background: #ffe600;
  border: none;
}
.textarea-message::placeholder {
  color: #ffffff;
}
.textarea-message:focus-visible {
  outline: none;
}
.send-holder {
  width: 970px;
  margin: auto;
  margin-bottom: 113px;
}
.send-btn {
  width: 100%;
  height: 50px;
  border: none;
  background: #131316;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
input[value="SEND"] {
  color: #ffe600;
}
.footer {
  height: 100px;
  width: 100%;
  background: #131316;
  display: flex;
  justify-content: space-around;
}
.footer-intro {
}
.footer-text {
  color: #ffe600;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.footer-icons span {
  color: #ffffff;
}
